{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "prettier",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "import",
    "@babel",
    "react",
    "jsx-a11y",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-named-as-default": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/function-component-definition":  
      [2, { "namedComponents": "arrow-function" }],
    "no-console": [1, { "allow": ["error"] }]
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   }
  }
}
