{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "import",
    "@babel"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "__REDUX_DEVTOOLS_EXTENSION__"
        ]
      }
    ],
    "import/no-named-as-default": 0
  },
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   }
  }
}
