# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.nyc_output

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# development environments
.idea/
.vscode/

# sample data
/src/data

# environment files but not encrypted ones
.env*
!.env.*.encrypted

# codeship keys
*.aes

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# local port
.env.*

# cypress download screenshots
cypress/downloads/
cypress/screenshots/

bundle_analysis.html
